// Стили для аккордеона (вопрос-ответ)

.accordion {

    &__item {
        font-size: var(--text-base);

        background-color: var(--bg-surface);

        border: 1px solid var(--border-light);
        border-radius: var(--radius-xl);

        transition: border-color var(--duration-base) var(--ease-in-out);

        &[open] {
            border-color: var(--border-hover);

            .accordion__trigger::after {
                transform: rotate( 45deg );
            }
        }
    }

    &__trigger {
        font-weight: 600;
        list-style: none;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-6);

        cursor: pointer;

        padding: var(--space-6);

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: '+';

            font-size: var(--text-3xl);
            color: var(--icon-main);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            
            width: 30px;
            height: 30px;

            transition: transform var(--duration-base) var(--ease-in-out);
        }
    }

    &__title {
        font-size: var(--text-base);
        color: var(--text-brand);
    }

    &__content {
        padding: 0 var(--space-6) var(--space-6);
        
        p {
            font-size: var(--text-base);
            color: var(--text-secondary);            
        }
    }
}