// Стили карточки преимуществ

.advantage-card {

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    background-color: var(--color-neutral-000);
    
    border: 1px solid var(--border-light);
    border-radius: var(--radius-xl);

    padding: var(--space-8);

    &__media {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 56px;
        height: 56px;

        background-color: var(--color-neutral-100);
        border-radius: var(--radius-xl);

        svg {
            color: var(--color-primary-700);

            width: 28px;
            height: 28px;
            object-fit: contain;
        }
    }

    &__title {
        font-size: var(--text-2xl);
    }

    &__description {
        font-size: var(--text-base);
    }

    &--compact {
        flex-direction: row;
        padding: var(--space-6);

        .advantage-card__title {
            font-size: var(--text-base);
            margin-bottom: var(--space-2);
        }

        .advantage-card__description {
            font-size: var(--text-sm);
        }

        .advantage-card__media {
            width: 44px;
            height: 44px;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}