// Стили для основных видов кнопок

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: var(--space-3) var(--space-6);
    
    border: none;
    border-radius: var(--radius-full);

    font-weight: 400;
    font-size: var(--text-base);

    text-decoration: none;
    cursor: pointer;

    transition: all var(--duration-fast) var(--ease-in-out);
  
    // Сплошная кнопка (solid)
    &--primary {
        background-color: var(--btn-primary-bg);
        color: var(--btn-primary-text);
        font-weight: 500;

        &:hover {
            background-color: var(--btn-primary-hover);
            color: var(--btn-primary-text-hover); 
        }
    }

    // Кнопка с обводкой (outline)
    &--secondary {
        background-color: var(--btn-secondary-bg);
        border: 1px solid var(--btn-secondary-border);
        color: var(--btn-secondary-text);

        &:hover {
            background-color: var(--btn-secondary-bg-hover);
            color: var(--btn-secondary-text-hover);
        }
    }

    // Текстовая кнопка (text)
    &--text {
        background-color: var(--btn-text-background);
        border-color: var(--btn-text-border);
        
        font-weight: 600;
        color: var(--btn-text-color);

        padding-inline: var(--space-2);

        &:hover {
            background-color: var(--btn-text-bg-hover);
            color: var(--btn-text-color-hover);
        }
    }

    // Модификаторы размера

    // Маленькая кнопка (Для карточек, фильтров)
    &--sm {
        padding: var(--space-2) var(--space-4);
        font-size: var(--text-sm);
    }

    // Большая кнопка (Для Hero-секций, CTA-баннеров)
    &--lg {
        padding: var(--space-4) var(--space-10);
        font-size: var(--text-lg);
    }    
}