// Стили карточки преимуществ

.card-advantage {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: var(--space-4);

    background-color: var(--bg-surface);
    
    border: 1px solid var(--border-light);
    border-radius: var(--radius-xl);

    padding: var(--space-4);

    @media ( min-width: 768px ) {
        padding: var(--space-6);
    }

    &__media {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 48px;
        height: 48px;

        background-color: var(--icon-bg);
        border-radius: var(--radius-xl);

        svg {
            color: var(--icon-main);

            width: 24px;
            height: 24px;
            object-fit: contain;
            stroke: currentColor;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }

    &__title {
        font-size: var(--text-lg);
        color: var(--text-brand);
    }

    &__description p {
        font-size: var(--text-base);
        color: var(--text-secondary);
    }

    // Маленькая карточка
    &--compact {

        .card-advantage__title {
            font-size: var(--text-base);
        }

        .card-advantage__description p {
            font-size: var(--text-sm);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }        
    }

    // Горизонтальная карточка
    &--horizontal {

        @media ( min-width: 768px ) {
            flex-direction: row;
            align-items: flex-start;
        }

        .card-advantage__title {
            font-size: var(--text-base);
        }

        .card-advantage__description p {
            font-size: var(--text-sm);
        }
    }
}