// Карточка производителя (бренда)

.card-brand {
	position: relative;

	display: flex;
	flex-direction: column;
	height: 100%;

	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&__link {
		transition: color var(--duration-base) var(--ease-in-out);

		&::after {
			content: '';
			position: absolute;

			inset: 0;
			z-index: 1;
		}
	}

	&:hover &__link {
		color: var(--link-color);
	}

	&__picture {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 120px;

		padding: var(--space-4);
		margin-bottom: var(--space-4);

		@media ( min-width: 768px ) {
			height: 144px;
			padding: var(--space-6);
		    margin-bottom: var(--space-5);
		}

		background-color: var(--bg-surface);
		border: 1px solid var(--border-light);
		border-radius: var(--radius-xl);

		transition: border-color var(--duration-base) var(--ease-in-out);
	}

	&:hover &__picture {
		border-color: var(--border-hover);
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;

		filter: grayscale(100%);
		opacity: 0.6;

		will-change: transform;
		transition: all var(--duration-base) var(--ease-in-out);
	}

	&:hover &__image {
		filter: grayscale(0);
		opacity: 1;
		transform: scale(1.1);
	}

	&__body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		gap: var(--space-2);
	}

	&__title {
		font-size: var(--text-base);
		color: var(--text-main);
		text-align: left;

		@media ( min-width: 768px ) {
			font-size: var(--text-lg);
		}
	}

	&__meta {
		position: relative;
		z-index: 2;
		pointer-events: none;

		display: flex;
		justify-content: space-between;
		align-items: center;

		gap: var(--space-2);

		color: var(--text-muted);

		font-size: var(--text-xs);

		@media ( min-width: 768px ) {
			font-size: var(--text-sm);
		}
	}
}