// Карточка поста на главной

@use '../abstracts/mixins' as *;

// Карточка статьи для Bento-сетки ( с затемнением )
.promo-card {
	@include card-shell;

	position: relative;

	background-color: transparent;
	isolation: isolate;

	&__background {
		position: absolute;
		inset: 0;

		z-index: 0;
	}

	&__background::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;

		background: var(--bg-overlay-dark);
		pointer-events: none;
	}

	&__image {
		width: 100%;
		height: 100%;

		object-fit: cover;
		will-change: transform;

		transition: transform var(--duration-base) var(--ease-in-out);
	}

	&:hover &__image {
		transform: scale(1.1);
	}

	&__link {
		text-decoration: none;
		color: inherit;

		&::after {
			content: '';
			position: absolute;

			inset: 0;
			z-index: 2;
		}
	}

	&__content {
		position: relative;
		z-index: 3;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		pointer-events: none;

		gap: var(--space-3);

		padding: var(--space-5);

		@media ( min-width: 768px ) {
			padding: var(--space-6);
		}
	}

    &__action,
    .post-meta {
		position: relative;
		z-index: 4;
        pointer-events: auto;
    }

	&__title {
		font-size: var(--text-lg);
        line-height: var(--leading-tight);
        color: var(--text-inverse);

		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		pointer-events: auto;

		transition: color var(--duration-base) var(--ease-in-out);

		@media ( min-width: 768px ) {
			font-size: var(--text-xl);
		}
	}

	&:hover &__link {
		color: var(--link-color);
	}

	&__description {
		font-size: var(--text-sm);
        color: var(--text-inverse);
		opacity: 0.8;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__action {
		display: flex;
		gap: var(--space-2);
		align-items: center;

		font-size: var(--text-sm);
		color: var(--text-inverse);

		opacity: 0;
		transform: translateY(10px);
		transition: all var(--duration-base) var(--ease-in-out);
	}

	&:hover &__action {
		opacity: 1;
		transform: translateY(0);
	}
}