// Карточка авиалайнера

@use '../abstracts/mixins' as *;

.card-aircraft {
    @include card-shell;

	display: flex;
	flex-direction: column;

    position: relative;

    &__picture {
        aspect-ratio: 16 / 9;
        position: relative;

        overflow: hidden;

        transform: translateZ(0); 
    }

    &__image {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        transform: scale( 1 );
        will-change: transform;
        
        transition: transform var(--duration-base) var(--ease-in-out);        
    }    

    &:hover &__image {
        transform: scale( 1.1 );
    }

    &__link {
        transition: color var(--duration-base) var(--ease-in-out);

        &::after {
            content: '';
            position: absolute;
            
            inset: 0;
            z-index: 1;
        }
    }
    
    &:hover &__link {
        color: var(--link-color);
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        width: 100%;

        padding: var(--space-4);

        @media ( min-width: 768px ) {
            padding: var(--space-6);
        }
    }

    &__meta,
    &__specs {
        position: relative;
        z-index: 2; 
        pointer-events: auto;
    }    

    &__meta {
        margin-bottom: var(--space-3);
    }    

    &__title {
        font-size: var(--text-sm);
        color: var(--text-main);
        text-align: left;
        line-height: var(--leading-tight);

        @media ( min-width: 768px ) {
           font-size: var(--text-base); 
        }
    }

    &__description {
        font-size: var(--text-sm);
        color: var(--text-secondary);
        line-height: var(--leading-normal);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__specs {
        display: flex;
        flex-direction: column;
        gap: var(--space-3);

        border-bottom: 1px solid var(--border-light);

        font-size: var(--text-xs);

        margin-top: var(--space-4);
        padding-bottom: var(--space-4);
        margin-bottom: var(--space-5);
    }

    &__actions {
        position: relative;
        z-index: 2;
        pointer-events: none; 

        display: flex;
        gap: var(--space-2);

        margin-top: auto;
    }

    &__btn {
        flex-grow: 1;
        transition: all var(--duration-base) var(--ease-in-out);
    }

    &:hover &__btn {
        background-color: var(--btn-secondary-bg-hover);
        color: var(--btn-secondary-text-hover);
    }
    
    &--horizontal {

        .card-aircraft__title {
            margin-bottom: var(--space-2);
        }

        .card-aircraft__specs {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            gap: 0;

            border-bottom: none;
            border-top: 1px solid var(--border-light);

            padding-top: var(--space-4);
            margin-top: var(--space-4);

            padding-bottom: 0;
            margin-bottom: 0;
        }

        @media ( min-width: 768px ) {
            flex-direction: row;

            .card-aircraft__picture {
                aspect-ratio: auto;

                width: 40%;
                flex-shrink: 0;
            }

            .card-aircraft__body {
                width: 60%;
                justify-content: center;
            }
        }
    }
}