// Стили для элементов форм

.form-checkbox {
    display: flex;
    align-items: center;
    gap: var(--space-3);

    margin-top: var(--space-3);
}

.form-checkbox__input {
    display: inline-flex;
    align-items: flex-start;
    gap: var(--space-3);
    cursor: pointer;

    width: 20px;
    height: 20px;
}

.form-input {
    display: block;
    width: 100%;

    border: 1px solid var(--border-light);
    border-radius: var(--radius-xl);
    background-color: #EEE;

    padding: var(--space-2) var(--space-4);
}