// Компонент основного заголовка страницы

.page-header {

    position: relative;
    overflow: hidden;

    min-height: 60dvh;

    display: flex;
    align-items: center;

    background-color: var(--bg-inverse);
    color: var(--text-inverse);

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        z-index: 0;

        background-image: url('/src/images/header-pattern.png');

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        opacity: 0.15;

        pointer-events: none;
    }

    &__container {
        position: relative;
        z-index: 2;

        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-8);

        @media ( min-width: 1024px ) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: var(--space-12);
        } 
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        max-width: 768px;
        text-align: left;

        @media ( min-width: 1024px ) {
            gap: var(--space-6);
        }
    }

    &__title {
        font-size: var(--text-3xl);
        color: var(--text-inverse);
        line-height: var(--leading-tight);
        text-wrap: balance;

        @media ( min-width: 1024px ) {
            font-size: var(--text-5xl);
        }
    }

    &__description {
        
        p, ul, ol {
            font-size: var(--text-base);
            color: var(--text-inverse);
            line-height: var(--leading-normal);
            text-wrap: pretty;
            opacity: 0.8;

            @media ( min-width: 1024px ) {
                font-size: var(--text-lg);
            }
        }
    }

    &__stats {
        display: flex;
        gap: var(--space-4);
        flex-wrap: wrap;

        @media ( min-width: 1024px ) {
            gap: var(--space-6);
        }
    }
}