// Стили для кнопок-пилюль
.pill {

    // Для Solid
    --pill-solid-bg:       var(--color-blue-500);
    --pill-solid-bg-hover: var(--color-blue-800);
    --pill-solid-text:     var(--color-white);

    // Для Subtle
    --pill-subtle-bg:       var(--color-blue-100);
    --pill-subtle-bg-hover: var(--color-blue-200);
    --pill-subtle-text:     var(--color-neutral-900);

    // Для Outline
    --pill-outline-border:  var(--color-blue-500);
    --pill-outline-text:    var(--color-neutral-600);
    
    // Общие стили
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border: none;
    border-radius: var(--radius-full);
    font-weight: 400;

    transition: all var(--duration-base) var(--ease-in-out);

    // Базовый размер
    padding: var(--space-2) var(--space-4);
    font-size: var(--text-sm);

    /* ===========================
        Модификаторы размера
       =========================== */

    &--sm {
        padding: var(--space-1) var(--space-3);
        font-size: var(--text-xs);
    }

    &--md {
        padding: var(--space-2) var(--space-4);
        font-size: var(--text-sm);      
    }

    &--lg {
        padding: var(--space-3) var(--space-5);
        font-size: var(--text-base);
    }

    /* ===========================
        Модификаторы стиля
       =========================== */

    // Вариант 1: Обводка (Для облака тегов)
    &--outline {
        background-color: transparent;
        border: 1px solid var(--pill-outline-border);
        color: var(--pill-outline-text);

        &:hover {
            background-color: transparent;
            color: var(--text-brand);
        }
    }

    // Вариант 2: Заливка цветом (Для детальной самолета)
    &--solid {
        background-color: var(--pill-solid-bg);
        color: var(--pill-solid-text);

        &:hover {
            background-color: var(--pill-solid-bg-hover);
            color: var(--color-white);
        }
    }

    // Вариант 3: Мягкий фон (Для карточек статей)
    &--subtle {
        background-color: var(--pill-subtle-bg);
        color: var(--text-main);
        
        &:hover {
            background-color: var(--pill-subtle-bg-hover);
            color: var(--text-brand);
        }
    }

    // Вариант 4: Просто текст (Для горизонтальной карточки лайнера)
    &--text-only {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        padding: 0;

        color: var(--text-muted);
        font-size: var(--text-xs);

        &:hover {
            background-color: transparent;
            color: var(--text-brand);
        }
    }    
}