// Стили компонента заголовка (для секций)
.section-header {

    display: flex;
    flex-direction: column;
    gap: var(--space-6);

	margin-bottom: var(--space-10);

    &__meta {
		display: flex;
		align-items: center;
		gap: var(--space-3);

		font-size: var(--text-sm);

        .section-header__number + .section-header__label::before {
            display: inline-block;
			vertical-align: middle;

			width: 36px;
			height: 1px;

			content: '';
            margin-right: var(--space-3);
            background-color: var(--text-muted);
        }
    }

	&__label {
		text-transform: uppercase;
	}

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }

    &__title {
        font-weight: 400;
		margin-bottom: 0;
    }

    &__description {
        text-wrap: pretty;
    }

    // Модификатор: в строку, если есть мета
    &--row {
        align-items: stretch;

        @media ( min-width: 768px ) {
            
            .section-header__content {
                flex-direction: row;
				align-items: center;
                justify-content: space-between;
            }

            .section-header__title {
                max-width: 50%;
				width: min-content;
            }

            .section-header__description {
                max-width: 512px;
            }
        }
    }

    // Модификатор: в столбец, если нет меты
    &--column {
        align-items: center;
        text-align: center;

        .section-header__content{
            align-items: center;
        }

		.section-header__title {
			font-size: var(--text-4xl);
			font-weight: 700;
		}

        .section-header__description {
            max-width: 768px;
        }
    }
}