// Стили компонента заголовка (для секций)
.section-header {

    --sh-number-color: var(--color-blue-500);
    --sh-line-color: var(--color-blue-500);
    --sh-label-color: var(--text-muted);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    margin-bottom: var(--space-8);

    &__meta {
		display: flex;
		align-items: center;
		gap: var(--space-3);

		font-size: var(--text-sm);
        text-transform: uppercase;
        letter-spacing: var(--tracking-wide);

        .section-header__number + .section-header__label::before {
            display: inline-block;
			vertical-align: middle;

			width: 48px;
			height: 1px;

			content: '';
            margin-right: var(--space-3);
            background-color: var(--sh-line-color);
        }
    }

    &__label {
        color: var(--sh-label-color);
    }

    &__number {
        color: var(--sh-number-color);
        font-weight: 600;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }

    &__title {
        font-size: var(--text-3xl);
        font-weight: 700;
    }

    &__description {
        color: var(--text-secondary);
        text-wrap: pretty;
    }

    // Модификатор: в строку, если есть мета
    &--row {

        @media ( min-width: 768px ) {
            
            .section-header__content {
                flex-direction: row;
				align-items: center;
                justify-content: space-between;
            }

            .section-header__description {
                max-width: 512px;
            }
        }
    }

    // Модификатор: в столбец, если нет меты
    &--column {
        align-items: center;
        text-align: center;

        gap: var(--space-2);

        .section-header__content{
            align-items: center;
        }

        .section-header__description {
            max-width: 768px;
        }
    }
}