// Стили компонента заголовка (для секций)
.section-header {

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    &__meta {
		display: flex;
		align-items: center;
		gap: var(--space-3);

		font-size: var(--text-sm);
        text-transform: uppercase;
        letter-spacing: var(--tracking-wide);

        .section-header__number + .section-header__label::before {
            display: inline-block;
			vertical-align: middle;

			width: 36px;
			height: 1px;

			content: '';
            margin-right: var(--space-3);
            background-color: var(--border-light);
        }
    }

    &__number {
        color: var(--color-primary-500);
        font-weight: 600;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }

    &__title {
        font-weight: 700;
    }

    &__description {
        text-wrap: pretty;
    }

    // Модификатор: в строку, если есть мета
    &--left {

        @media ( min-width: 768px ) {
            
            .section-header__content {
                flex-direction: row;
				align-items: center;
                justify-content: space-between;
            }

            .section-header__title {
                font-size: var(--text-3xl);
            }

            .section-header__description {
                max-width: 512px;
            }
        }
    }

    // Модификатор: в столбец, если нет меты
    &--center{
        align-items: center;
        text-align: center;

        gap: var(--space-2);

        .section-header__content{
            align-items: center;
        }

		.section-header__title {
			font-size: var(--text-3xl);
		}

        .section-header__description {
            max-width: 768px;
        }
    }
}