// Стили основного каталога

.catalog-content {
    &__layout {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: var(--space-8);
        align-items: start;
    }

    &__sidebar {
        position: sticky;
        top: 20px;
    }

   &__grid {
       gap: var(--space-6);
    }

    &__pagination {
        margin-top: var(--space-6);
    }
}