// Стили для секции: CTA-блок

.cta-block {
    position: relative;
    overflow: hidden;

    background-color: var(--bg-inverse);

    &__content {
        position: relative;
        z-index: 10;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: var(--space-6);

        max-width: 50%;
    }

    &__title {
        font-size: var(--text-3xl);
        color: var(--text-inverse);
    }

    &__description p {
        color: var(--text-inverse);
        opacity: 0.8;
    }

    &__media {
		position: absolute;
		z-index: 0;
		top: 0;
        bottom: 0;
        right: 0;
        left: 50%;

        background-color: var(--color-black); 

        -webkit-mask-image: var(--bg-overlay-dark-right);
        mask-image: var(--bg-overlay-dark-right);
    }

    &__image {
		width:100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

        opacity: 0.7;
    }
}