// Стили для секции: CTA-блок

.cta-block {
    background-color: var(--color-primary-900);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        gap: var(--space-6);

        max-width: 768px;
        margin-inline: auto;
    }

    &__title {
        font-size: var(--text-3xl);
        color: var(--color-neutral-000);
    }

    &__description p {
        color: var(--color-neutral-200);
    }

    &__btn {
        margin-top: var(--space-4);
    }
}