// CTA-блок

.section-cta-block {
    padding-block: var(--space-20);
    background-color: var(--color-neutral-200);
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: var(--space-12);

        background-color: var(--color-neutral-000);
        border-radius: var(--radius-xl);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        max-width: 512px;
    }

    &__title {
        font-size: var(--text-3xl);
        margin: 0;
    }
}