// Стили для секции: Часто задаваемые вопросы (FAQ)

.faq-block {
    
    &__accordion {
        align-items: start;
        gap: var(--space-4);

        & > * {
            height: auto;
        }
    }
}