// Стили секции обратной связи

.feedback {

    &__layout {
        display: flex;
        gap: var(--spacep-8);
    }

    &__wrapper {
        max-width: 670px;
        margin-inline: auto;

        background-color: var(--color-neutral-000);

        border: 1px solid var(--border-light);
        border-radius: var(--radius-xl);

        padding: var(--space-10);
    }
}