// Стили секции: Изображение + Текст

.image-text {

    &__grid {
        display: flex;
        flex-direction: column;
        gap: var(--space-10);


        @media ( min-width: 768px ) {

            align-items: center;

            &--image-left {
                flex-direction: row;
            }

            &--image-right {
                flex-direction: row-reverse;
            }
        }
    }

    &__media,
    &__content {
        width: 100%;

        @media ( min-width: 768px ) {
            flex: 1;
            width: auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }

    &__image {
        aspect-ratio: 4 / 3;

        width: 100%;
        object-fit: cover;

        border-radius: var(--radius-xl);

        @media ( min-width: 768px ) {
            height: 100%;
        }
    }

    &__description {
        font-size: var(--text-base);

        p {
            margin-bottom: var(--space-4);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-4);

        margin-top: var(--space-4);
    }

}