// Стили для шаблона категорий

.page-category {

    &__tags {
        border-top: 1px solid var(--border-light);
        border-bottom: 1px solid var(--border-light);

        padding: var(--space-4) 0;   
    }

    &__pagination {
        margin-top: var(--space-8);
    }
}