// Стили для шаблона категорий

.page-category {

    &__tags {
        border-top: 1px solid var(--border-light);
        border-bottom: 1px solid var(--border-light);

        padding: var(--space-4) 0;   
    }

    &__pagination {
        margin-top: var(--space-8);
    }

    .category-hero {
        border-bottom: 1px solid var(--border-light);

        &__layout {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__content {
            display: flex;
            flex-direction: column;

            gap: var(--space-6);

            max-width: 768px;
        }
    }
}