// Стили для шаблона страницы Блога (home.php)
.page-blog {

    &__categories {
        border-top: 1px solid var(--border-light);
        border-bottom: 1px solid var(--border-light);

        padding: var(--space-4) 0;        
    }

    .blog-hero {
        padding-top: var(--space-16);
    }
}