// Стили для шаблона страницы Блога (home.php)
.page-blog {

    &__categories {
        border-top: 1px solid var(--color-neutral-300);
        border-bottom: 1px solid var(--color-neutral-300);

        padding: var(--space-4) 0;        
    }

    .blog-hero {
        padding-top: var(--space-16);

        &__title {
            font-size: var(--text-5xl);
            margin: 0;
        }
    }

    .blog-fresh__title,
    .blog-archive__title {
        font-size: var(--text-3xl);
        margin-bottom: var(--space-8);  
    }
}