// Стили для страницы каталога авиалайнеров
@use '../abstracts/mixins' as *;

.page-catalog {
    padding-block: var(--space-16);

    &__layout {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: var(--space-8);
        align-items: start;
    }

    &__block {
        border: 1px solid var(--border-light);
        border-radius: var(--radius-2xl);

        padding: var(--space-5);

        background-color: var(--color-neutral-000);

        label {
            display: flex;
            align-items: center;
            gap: var(--space-3);

            margin-bottom: var(--space-2);
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
    }

    &__grid {
       @include grid-adaptive( 1, 2, 3);
       gap: var(--space-6);
    }
}