// Стили для страницы каталога авиалайнеров

.page-catalog {
    &__content {
        padding-block: var(--space-12);
    }
}

.catalog-hero {
    padding-block: var(--space-12);
    border-bottom: 1px solid var(--border-light);

    &__inner {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-end;       
    }

    &__content {
        display: flex;
        flex-direction: column;

        max-width: 512px;       
    }
    
    &__title {
        font-size: var(--text-5xl);
        margin: 0;
        margin-bottom: var(--space-6);
    }

    &__description {
        font-size: var(--text-lg);
    }

    &__stats {
        display: flex;
        gap: var(--space-8);
    }
}

.catalog-seo {
    background-color: var(--color-neutral-000);
}