// Стили для шапки сайта

.header {
    // Цвет ссылки при наведении и активная ссылка
    --link-current-color: var(--color-orange-500);

    width: 100%;
    transition: background-color var(--duration-base), color var(--duration-base);

	padding-block: var(--space-4);

	@media ( min-width: 1024px ) {
		padding-block: var(--space-6);
	}

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .custom-logo-link {
        display: inline-block;
        width: 150px;
        height: 40px;
        flex-shrink: 0;
        z-index: 110;
    }

    .custom-logo {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // Навигация и список меню

    &__nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        background-color: var(--bg-surface);

        max-height: 0;
        overflow: hidden;
        z-index: 100;

        border-bottom: 0 solid var(--border-light);
        transition: max-height var(--duration-base) var(--ease-in-out), border-width var(--duration-base);

        &.active {
            max-height: 320px;
            border-bottom-width: 1px;
        }
    }

    &__list {
        list-style: none;
        padding: var(--space-4) var(--space-6);
    }

    &__list li {
        padding: var(--space-3) 0;
    }

    &__list a {
        display: block;
        color: var(--text-brand);
        text-transform: uppercase;
        text-decoration: none;
        font-size: var(--text-base);
        font-family: var(--font-body);
        transition: var(--duration-base) var(--ease-in-out);
        font-weight: 500;     
    }

    &__list a:hover {
        color: var(--link-current-color);
    }

    &__list .current-menu-item a {
        color: var(--link-current-color);
        font-weight: 700;
    }

    // Адаптация под широкие экраны (Планшет, ПК)

    @media ( min-width: 1024px ) {
        &__nav {
            position: static;
            max-height: none;
            overflow: visible;
            background: none;
            border: none;
            display: flex;
            justify-content: flex-end;
            z-index: auto;
        }

        &__list {
            display: flex;
            align-items: center;
            padding: 0;
            gap: var(--space-2);
        }

        &__list li {
            padding: 0;
        }

        &__list a {
            color: inherit;
            padding: var(--space-2) var(--space-4);
        }
    }

    // Модификатор прозрачной шапки (для главной)
    &--transparent {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: transparent;
        color: var(--color-white);
    }

    // Модификатор шапки с заливкой (для других страниц)
    &--solid {
        position: relative;
        background-color: var(--bg-header);
        color: var(--color-white);
    }
}

// Кнопка Бургер-меню

.burger {

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        width: 30px;
        height: 24px;
        position: relative;
        z-index: 110;

        padding: 0;
        color: inherit;

        @media ( min-width: 1024px ) {
            display: none;
        }        
    }

    &__icon,
    &__icon::before,
    &__icon::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: currentColor; 
        border-radius: var(--radius-xs);
        transition: all var(--duration-base) var(--ease-in-out);
    }

    &__icon {
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon::before {
        content: '';
        top: -8px;
    }
    
    &__icon::after {
        content: '';
        top: 8px;
    }

    // Активное состояние Бургер-меню
    &__btn.active {

        .burger__icon {
            background-color: transparent;
        }

        .burger__icon::before {
            transform: rotate(45deg);
            top: 0;
        }

        .burger__icon::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}