// Стили для детальной страницы авиалайнера Галерея
.section-gallery {
    background-color: var(--color-neutral-900);
}

.gallery-grid {
	display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    
	gap: var(--space-5);
}

.gallery-card {
	display: block;
	position: relative;

    aspect-ratio: 4 / 3;
	
	border-radius: var(--radius-xl);
	
	overflow: hidden;


    img {
        position: absolute;
        z-index: 1;
        
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        
        transition: transform var(--duration-slow) var(--ease-in-out);
        will-change: transform;       
    }   

    &__overlay {
        position: absolute;
        z-index: 2;

        padding: var(--space-2);
        background-color: var(--color-neutral-000);

        border-top-left-radius: var(--radius-xl);

        color: var(--color-primary-700);

        bottom: 0;
        right:0;

        transform: translateX( 100% );

        transition: transform var(--duration-base) var(--ease-in-out);
        will-change: transform; 

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &:hover &__overlay {
        transform: translateX( 0 );
    }

    &:hover img {
        transform: scale(1.1);
    }
}

// Планшет
@media (min-width: 768px ) {
    .gallery-grid {
        grid-template-columns: repeat( 2, 1fr );
    }
}

// Десктоп
@media ( min-width: 1024px ) {
    .gallery-grid {
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-auto-rows: 240px;
    }
    .gallery-card {
        aspect-ratio: auto;
        height: 100%;
    }
}

// Генерация css-классов

$columns: 12;
$rows: 6;

// Генерируем классы для Десктопа (lg = large)

@media (min-width: 1024px) {

    // Цикл от 1 до 12
    @for $i from 1 through $columns {

        // Генерирует: на сколько колонок растягивать
        .gallery-card__lg--col-span-#{$i} {
            grid-column-end: span #{$i};
        }

        // Генерирует: c какой колонки начинать
        .gallery-card__lg--col-start-#{$i} {
            grid-column-start: #{$i};
        }
    }
    
    @for $i from 1 through $rows {
   
        // Генерирует: на сколько строк растягивать
        .gallery-card__lg--row-span-#{$i} {
            grid-row-end: span #{$i};
            width: 100%;
            height: 100%;
        }

        // Генерирует: с какой строки начинать
        .gallery-card__lg--row-start-#{$i} {
            grid-row-start: #{$i};
        }

    }
}